@use "/src/mixins";

.button-filters-container {
  &-button {
    max-width: 7rem;
    width: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2.4rem;
    background-color: oklch(0.546 0.245 262.881);
    color: white;
    border: none;
    cursor: pointer;

    &:active {
      border: 2px solid lightcoral;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  @include mixins.tb-to-lg {
    display: none;
  }
  @include mixins.md-sizes {
    display: block;
  }
}
