@use "/src/mixins";

.word-filter-container {
  display: flex;
  justify-content: space-between;

  p {
    margin-right: 1em;
  }

  input {
    padding: 0.3ch;
    width: 50%;
  }

  @include mixins.md-sizes {
    display: none;
  }

  @include mixins.tablet {
    display: none;
  }
}
