@use "/src/mixins";
@use "/src/variables";

.container {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-around;
  align-items: center;

  @include mixins.sm-phone {
    width: 90%;
    margin: auto;
  }

  &_filter_section {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_button_form {
    display: flex;
    justify-content: end;
  }

  &_button {
    width: 7rem;
    height: 2.4rem;
    background-color: variables.$button;
    border: none;
    border-radius: 0.5ch;
    color: white;
    cursor: pointer;

    @include mixins.sm-phone {
      font-size: 12px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
