@use "/src/mixins";
@use "/src/variables";

.arrow-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  &-svg-container {
    padding: 0 15px 0 15px;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      width: 20px;
      height: 20px;
    }
  }

  &-description-container:hover {
    p {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

.note-container {
  margin-top: 2rem;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mixins.md-sizes {
    height: 100%;
  }
}

.card_container {
  width: 80vw;
  background-color: variables.$light-blue;
  padding: 1em;
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;

  @include mixins.md-sizes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_content_description {
    grid-row: 2/5;
    font-size: 1.5ch;
    background-color: whitesmoke;
    padding: 1ch;
    overflow-y: auto;

    @include mixins.up-larger {
      padding: 2ch;
      grid-auto-rows: max-content;
    }
  }

  &_content_link {
    display: flex;
    flex-direction: column;
    grid-row: 4/5;
    grid-column: 2/3;

    a {
      color: blue;

      p {
        font-size: 1.5ch;
      }
    }
  }

  &_content_picture {
    grid-row: 1/3;
    grid-column: 2/3;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-self: baseline;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    @include mixins.md-sizes {
      width: 100%;
      height: 50%;
    }
  }

  &_actions {
    width: 30%;
    grid-row: 3/4;
    display: flex;
    justify-content: space-evenly;
  }
}

.card_info_section {
  order: 1;
  &_content {
    height: 110px;
    background-color: variables.$light;
    padding: 1em 7px 1em 7px;
  }

  &_category {
    width: auto;
    height: 15px;
    border-radius: 1em;
    margin-top: 1ch;
    margin-left: 1ch;
  }
}
