@import "/src/mixins";

.word-filter-container {
  display: flex;
  align-items: center;

  p {
    margin-right: 1em;
  }

  input {
    padding: 0.3ch;
    width: 50%;
  }

  @include sm-phone {
    input {
      width: 100%;
      padding: 5px;
    }
  }
}

@media (max-width: 800px) {
  .word-filter-container {
    width: 100%;
  }
}
