@use "/src/mixins";

.container {
  &_filter {
    // width: 60%;
    display: flex;
    // justify-content: end;
    justify-content: space-between;
    // align-items: center;

    p {
      margin-right: 1em;
    }

    select {
      width: 200px;
      padding: 0.5ch;
    }
  }

  @include mixins.md-sizes {
    &_filter {
      display: none;
    }
  }

  @include mixins.tablet {
    &_filter {
      display: none;
    }
  }
}

// @media (max-width: 800px) {
//   .container {
//     &_filter {
//       justify-content: start;

//       width: 100%;
//     }
//   }
// }
