@use "/src/mixins";

.container {
  &_filter {
    display: flex;
    justify-content: space-between;

    p {
      margin-right: 1em;
    }

    select {
      width: 200px;
      padding: 0.5ch;
    }
  }

  @include mixins.md-sizes {
    &_filter {
      display: none;
    }
  }

  @include mixins.tablet {
    &_filter {
      display: none;
    }
  }
}
