@use "/src/variables";
@use "/src/mixins";

.navigation {
  width: auto;
  height: 2rem;
  padding: 1.5em 0 1.5em 0;
  display: flex;
  justify-content: start;
  align-items: center;

  @include mixins.phone {
    background-color: #ee4266;
  }

  a {
    margin-left: 3rem;
    color: black;
    text-decoration: none;
  }

  &_logo_container {
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem 0 2rem;
    border-radius: 0.5ch;
    background-color: #ee4266;

    @include mixins.phone {
      background-color: none;
    }
    h1 {
      padding: 0 1ch 0 1ch;
    }
  }
  &_logo {
    display: flex;
    align-items: center;
  }
}
