@use "/src/variables";

.navigation {
  height: 5rem;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: black;

    text-decoration: none;
  }

  h1 {
    background-color: #ee4266;
    color: white;

    padding: 0 2rem 0 2rem;
    border-radius: 20px;
  }
}
