@use "/src/variables";
@use "/src/mixins";

.navigation {
  width: auto;
  height: 2rem;
  padding: 1.5em 0 1.5em 0;
  display: flex;
  justify-content: start;
  align-items: center;

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  &_logo_container {
    display: flex;
    margin-left: 3rem;
    align-items: center;
    padding: 0 2rem 0 2rem;
    border-radius: 0.5ch;
    background-color: variables.$logo;

    @include mixins.phone {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      background-color: none;
      justify-content: center;
    }

    h1 {
      padding: 0 1ch 0 1ch;
      color: white;
    }
  }
  &_logo {
    display: flex;
    align-items: center;
  }
}
