@use "/src/mixins";

.notes-container {
  width: 80vw;
  overflow-y: auto;
  margin: 2rem auto 0 auto;
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 50px 100px;
  flex: 1;

  &-title {
    width: 90%;
    margin: auto;
    margin-bottom: 1.5rem;

    @include mixins.sm-phone {
      font-size: 1.3em;
    }
  }

  @include mixins.md-sizes {
    width: 90vw;
    gap: 20px 30px;
    justify-content: center;
    grid-template-columns: repeat(2, 0.4fr);
  }

  @include mixins.tablet {
    grid-template-columns: repeat(2, minmax(90px, 1fr));
    width: 90vw;
    gap: 25px 30px;
  }

  @include mixins.medium-to-large {
    width: 95vw;
  }

  @include mixins.phone {
    width: 90vw;
    flex-direction: column;
    display: flex;
  }
}
