@use "/src/mixins";

.notes-container {
  width: 80vw;
  max-height: 100%;
  overflow-y: auto;
  margin: auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 2rem;
  flex: 1;

  &-title {
    width: 80%;
    margin: auto;
  }

  &-void {
    width: 100%;
    grid-column: 1 /3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include mixins.phone {
    background-color: red;
  }

  @include mixins.sm-phone {
    background-color: magenta;
    width: 100%;
    display: flex;
    // gap: 5px;
    flex-wrap: wrap;
  }
}
