.container {
  display: flex;
  margin: auto;
  margin-bottom: 2rem;
  width: 80%;
  justify-content: center;
  align-items: center;

  &_button_form {
    width: 50%;
    display: flex;
    justify-content: end;
  }

  &_button {
    width: 7rem;
    height: 2.4rem;
    background-color: oklch(0.546 0.245 262.881);
    border: none;
    color: white;
    cursor: pointer;

    &:active {
      border: 2px solid lightcoral;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
