@use "/src/mixins";

.container {
  &_filter {
    // width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;

    p {
      margin-right: 1em;
    }

    select {
      width: 200px;
      padding: 0.5ch;
    }
  }
}

@media (max-width: 800px) {
  .container {
    &_filter {
      justify-content: start;

      width: 100%;
    }
  }
}
