@use "/src/mixins";

.footer {
  background-color: #f7758d;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 100%;
  color: white;
  flex-direction: column;

  @include mixins.sm-phone {
    font-weight: 400;
    font-size: 12px;
  }
}
