@use "/src/mixins";

.arrow-container {
  display: flex;
  align-items: center;
  margin-top: 2rem;

  &-bis {
    width: 80%;
    display: flex;
    margin: auto;
  }

  &-svg-container {
    padding: 0 15px 0 0;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      width: 20px;
      height: 20px;

      @include mixins.md-sizes {
        width: 32px;
        height: 32px;
      }

      &:hover {
        border-bottom: 1px solid black;
        cursor: pointer;

        @include mixins.md-sizes {
          border-bottom: none;
        }
      }
    }
  }

  &-description-container {
    @include mixins.md-sizes {
      display: none;
    }
  }
}
