.arrow-container {
  display: flex;
  align-items: center;

  &-svg-container {
    padding: 0 15px 0 15px;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      width: 20px;
      height: 20px;
    }
  }

  &-description-container:hover {
    p {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
