@use "/src/mixins";
@use "/src/variables";

.button-container {
  display: flex;
  justify-content: end;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: variables.$button;
    border: none;
    width: 2.5rem;
    height: 26px;
    border-radius: 0.5ch;

    @include mixins.phone {
      width: 4rem;
      height: 26px;
    }

    &:hover {
      opacity: 0.85;
    }
  }

  &-img {
    width: 1.4em;
    height: 1.4em;
  }
}
