.button-container {
  display: flex;
  justify-content: end;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &-img {
    width: 1.4em;
    height: 1.4em;
  }
}
