* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.main-container {
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  input,
  textarea,
  button,
  select {
    &:focus {
      border: 3px solid #ee4266;
    }
  }
}
