@use "/src/mixins";
@use "/src/variables";

.button-filters-container {
  &-button {
    max-width: 7rem;
    width: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2.4rem;
    background-color: variables.$button;
    color: white;
    border: none;
    border-radius: 0.5ch;
    cursor: pointer;
    padding: 0 10px 0 10px;

    @include mixins.sm-phone {
      font-size: 12px;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  @include mixins.tb-to-lg {
    display: none;
  }

  @include mixins.md-sizes {
    display: block;
  }
}

.modal-container {
  position: absolute;
  width: 80%;
  top: 180px;
  display: flex;
  justify-content: center;

  @include mixins.phone {
    width: 90%;
  }
}

.active {
  display: block;
}
.notActive {
  display: none;
}
