#root {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

body {
  overflow-x: hidden;
}
