* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  flex: 1;
  padding-bottom: 3rem;
}

.footer {
  background-color: #fccccc;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
