.notes-container {
  width: 80vw;
  min-height: 80vh;
  margin: auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 30%);

  gap: 1em;

  &-title {
    width: 80%;
    margin: auto;
  }
}
