@use "/src/variables";
@use "/src/mixins";

.active {
  min-width: 100%;
  background-color: #aac7ff;
  height: 15%;
  padding: 1ch;
  z-index: 1;

  .filters_modal_container {
    display: flex;
    width: 100%;
  }

  .filters_modal_select,
  .filters_modal_input_word {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;

    p {
      font-size: 14px;
    }
  }

  select {
    padding: 2px;
  }

  @include mixins.tb-to-lg {
    display: none;
  }
}

.notActive {
  display: none;
}
